<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
 
  <div id="adminlogin">
    <Button ion-button (click)="openAdminPage()">Admin Login</Button>
  </div>
  <!-- Authenticated :--- {{isInRange}} <br/>
  currentlatitude :--- {{this.latitude}}<br/>
  currentlong :--- {{this.longitude}}<br/>
  kbihm :--- {{kbihmlatitude + "-" + kbihmlongitude}}<br/>
  Distance : ---{{distancebetweenuserandKBIHM}}<br/>
  current time:---{{currentTime}}<br/>
  current date:---{{currentdate}}<br/>
  logintime - {{logintime}} <br/>
  logout time - {{logouttime}} -->
  <div *ngIf="isInRange">
    <Button *ngIf="!logintime" ion-button (click)="LoginLogout(true)">Login</Button><br><br>
    <span *ngIf="logintime"> Your logged in today at -> {{logintime}}</span><br/><br/><br/>
    <Button *ngIf="!logouttime && logintime" ion-button (click)="LoginLogout(false)" >Logout</Button>
    <span *ngIf="logouttime" > You logout today at  -> {{logouttime}}</span>
  </div>
  <div *ngIf="!isInRange" >
    <h1 id="contentPost">YOU ARE NOT IN OFFICE</h1>
    <!-- currentdate:---{{n}}
    <p>currwnt lati----{{latitude}}</p>
    <p>currwnt longi----{{this.longitude}}</p>
    Distance : ---{{distancebetweenuserandKBIHM}}<br/> -->
  </div>
</ion-content> 
